extends layout

block content
  h1 #{title}: #{book.title}

  p #[strong Author:   ]
    a(href=book.author.url) #{book.author.name}
  p #[strong Summary:  ] #{book.summary}
  p #[strong ISBN:  ] #{book.isbn}
  p #[strong Genre:  ]
    each val, index in book.genre
      a(href=val.url) #{val.name}
      if index < book.genre.length - 1
        |   -   

  if book_instances.length

    p #[strong Delete the following book copies before attempting to delete this book.]

    div(style='margin-left:20px;margin-top:20px')

      h4 Books

      dl
      each copy in book_instances
        hr
        if copy.status=='Available'
          p.text-success #{copy.status}
        else if copy.status=='Maintenance'
          p.text-danger #{copy.status}
        else
          p.text-warning #{copy.status} 
        p #[strong Imprint:] #{copy.imprint}
        if copy.status!='Available'
          p #[strong Due back:] #{copy.due_back_formatted}
        p #[strong Id:] 
          a(href=copy.url) #{copy._id}


  else
    p Do you really want to delete this Book?
    
    form(method='POST' action='')
      div.form-group
        input#id.form-control(type='hidden',name='bookId', required='true', value=book._id )

      div.btn-toolbar(role='toolbar')
        a.btn.btn-primary.me-2(href=book.url, role='button') Cancel
        button.btn.btn-danger(type='submit') Delete
